h2 {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-size: large;
}


body {
  background: linear-gradient(45deg, #fbda61, #ff5acd);

}


.social {
  height: 50px;
}

.twit {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav-container {
  background: linear-gradient(45deg, #fbda61, #ff5acd);
  margin-top: -100px;
  border: 2px solid white;
  border-radius: 20px;
}



p {
  font-family: 'Dosis', sans-serif;
  font-style: italic;
  font-size: medium;
  font-weight: bold;
}

li {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-weight: bold;
}



.sample {
  height: 150px;
}

footer {
  position: relative;
  top: 500px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}