h2 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: aqua;
  }
}

h3 {
  text-align: center;
  font-size: large;
  font-family: 'Fjalla One', sans-serif;
}


body {
  background-image: url('https://i.pinimg.com/originals/b2/2a/a2/b22aa22b2f3f55b6468361158d52e2e7.gif');
  background-repeat: no-repeat;
  background-size: cover;
}


.social {
  height: 50px;
  
}

.twit {
  background-image: url(' https: //i.pinimg.com/originals/b2/2a/a2/b22aa22b2f3f55b6468361158d52e2e7.gif');
}

#github {

}


header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav-container {
  background-image: url(' https: //i.pinimg.com/originals/b2/2a/a2/b22aa22b2f3f55b6468361158d52e2e7.gif');
  margin-top: -100px;
  border: 2px solid white;
  border-radius: 20px;

}



p {
  font-family: 'Fjalla One', sans-serif;
  font-style: italic;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.p1 {
  font-size: larger;
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

.p2 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

li {
  font-family: 'Dosis', sans-serif;
  color: white;
  font-weight: bold;
}
button {
  border: 1px solid black;
  border-radius: 10px;
}