.landing {
  display: flex;
}

.hulu-pic {
  width: 480px;
  height: 300px;
  background-size: contain;
  cursor: pointer;
  margin-left: 25px;
}

.hulu-project > p {
width: 480px;
}

.petlyfe-img {
  width: 480px;
  height: 300px;
  background-size: contain;
  cursor: pointer;
  margin-left: 25px;
}