.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor:default
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.nav > h2 {
  margin: 50px;
  color: white;
  cursor: pointer;
  font-weight: 400;
}

.nav > h2:hover {
  transform: matrix3d();
}
